{
    "branches": [
        "master"
    ],
    "plugins": [
        [
            "@semantic-release/commit-analyzer",
            {
                "preset": "angular",
                "releaseRules": [
                    {
                        "type": "refactor",
                        "release": "patch"
                    },
                    {
                        "type": "style",
                        "release": "patch"
                    },
                    {
                        "type": "ci",
                        "release": "patch"
                    },
                    {
                        "type": "build",
                        "scope": "deps",
                        "release": "patch"
                    }
                ],
                "parserOpts": {
                    "noteKeywords": [
                        "BREAKING CHANGE",
                        "BREAKING CHANGES",
                        "BREAKING"
                    ]
                }
            }
        ],
        [
            "@semantic-release/release-notes-generator",
            {
                "preset": "angular",
                "parserOpts": {
                    "noteKeywords": [
                        "BREAKING CHANGE",
                        "BREAKING CHANGES",
                        "BREAKING"
                    ]
                },
                "writerOpts": {
                    "commitsSort": [
                        "subject",
                        "scope"
                    ]
                }
            }
        ],
        "@semantic-release/changelog",
        [
            "@semantic-release/exec",
            {
                "success": "curl -X \"POST\" \"https://beacon.ubud.club/webhooks/update-plugin/${WEBHOOK_SECRET}\""
            }
        ],
        "@semantic-release/npm",
        "@semantic-release/github"
    ]
}
